{% extends 'base.html' %}

{% load i18n %}
{% load django_bootstrap5 %}

{% block content %}

<div class="container wrapper flex-grow-1">

      <h1 class="my-4">

{% trans labels_nav %}

      </h1>

<a class="btn btn-primary mb-3" href="/labels/create/">{% trans create_label %}</a>
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>{% trans name %}</th>
      <th>{% trans date_joined %}</th>
      <th></th>
    </tr>
  </thead>
  <tbody>

      {% for label in labels %}
      <tr>
        <td>{{ label.id }}</td>
        <td>{{ label.name }}</td>
        <td>{{ label.created_at|date:"d.m.Y H:i" }}</td>
        <td>
          <a href="{% url 'update_label' label.pk %}">{% trans update %}</a>
          <br>
          <a href="{% url 'delete_label' label.pk %}">{% trans delete %}</a>
        </td>
      </tr>
      {% endfor %}

  </tbody>
</table>

</div>
{% endblock content %}